/* PLAY CONTENT */
.play-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.play-progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: var(--light-grey);
}

.play-progress-bar {
  transition: all 300ms ease-in;
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
}

.play-navigator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.play-navigator .navigation {
  background-color: var(--dark-grey);
  padding: 1rem;
}

.play-status {
  background-color: #4caf50;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
