:root {
  --black: #292929;
  --yellow: #FCC707;
  --dark-yellow: #AD861D;
  --darker-yellow: #9A7511;
  --red: #DC343D;
  --green: #0F910F;
  --light-grey: #F3F3F3;
  --dark-grey: #AEB0AF;
  --light: 200;
  --normal: 400;
  --bold: 700;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
}

.breadcrumb {
  margin-left: 10px;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
  margin: 0 5px;
}

.content {
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 860px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
}

.search-bar button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-left: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #292929;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button-column {
  text-align: center;
}

.view-button {
  background-color: #FCC707;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding-right: 700px;
}

h2 {
  font-size: 20px;
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FCC707;
  color: #434343;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

.button:before {
  content: "+ ";
}

.PDF {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

.sched {
  padding-right: 700px;
  font-size: 45px;
}

.create {
  font-size: 15px;
  margin-right: 20px;
}

.create a {
  color: #000;
  text-decoration: none;
  margin: 0 5px;
}

.booksrecords a {
  color: black;
  text-decoration: none;
}

.booksrec {
  margin-left: -50px;
}

.add-schedules {
  margin-top: 20px;
}

.View h2 {
  margin-left: 20px; 
}
  
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  
}


th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-button {
  background-color: #ffd700;
  color: #000;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  
}

td:last-child {
  text-align: center;
  
}

.download-button {
  
    display: block; 
    margin: 0 auto;
    padding: 5px 5px; 
    background-color: #990000; 
    color: #fff;
    text-decoration: none;
    border-radius: px;
    text-align: center;
  }

  
  .upclients {
    font-family: monospace; 
    font-size: 3rem; 
    font-weight: bold;
    color: #333; 
    letter-spacing: 2px; 
  }

  .upclients span {
    margin-left: 5px;
  }

  .uppclients a {
    color: black; 
    text-decoration: none;

    
  }

  table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #333;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .view-profile-button {
      background-color: #ffd700; 
      color: #000;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }
    
    .download-pdf{
    
  
        display: block; 
        margin: 0 auto;
        padding: 5px 5px; 
        background-color: #990000; 
        color: #fff;
        text-decoration: none;
        border-radius: px;
        text-align: center;
      }
    
    




  
  

  
  
