.client-dropdown{
    display:flex;
    justify-content: space-between;
    background-color: var(--yellow);
    padding:1em;
    align-items: center;
}

.client-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    padding:0.5rem;
}

.client-card{
    border:1px solid var(--light-grey);
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.10);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.10);
    transition: transform 0.3s ease;
}

.client-card p{
    font-size:0.7rem;
}

.client-card button{
    width:100%;
    height:30px;
}

.client-card:hover{
    background-color: rgb(245, 245, 245);
    transform:translateY(-5px);
}

.client-card img{
    height:200px;
    border:1px solid;
    width:100%;
}

.book-desc{
    background-color: var(--light-grey);
    margin-bottom:1rem;
    padding:1rem;
}

.book-desc img{
    margin-bottom:1rem;
    height:300px;
    border:1px solid;
}

.hidden{
    display:none;
}