.sidebar {
  /* grid-area: sidebar; */
  position: sticky;
  top: 0px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--black);
  color: var(--black);
  width: 260px;
  min-width: 260px;
  z-index: 2;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--black);
}

.sidebar-title {
  color: white;
  font-weight: var(--bold);
  padding: 20px;
}

.sidebar-list-item {
  padding: 20px;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
}

.sidebar-list-item:hover .sidebar-list-title {
  transform: translateX(10px);
  transition: .3s;
}

.sidebar-list-title {
  display: flex;
  gap: 1rem;
}

.sidebar-list-item:hover {
  cursor: pointer;
  padding: 20px;
  background-color: var(--dark-yellow);
}

.sidebar-list-item.active .sidebar-list-title {
  font-weight: bold;
}

.mini-sidebar-list-item {
  background-color: var(--dark-yellow);
  padding: 10px 10px 10px 20px;
}

.mini-sidebar-list a {
  text-decoration: none;
  color: var(--black);
}

.mini-sidebar-list-item:hover {
  background-color: var(--darker-yellow);
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    position: fixed;
    top: -100%;
    width: 100%;
    height: fit-content;
    padding-bottom: 60px;
  }

  .sidebar.clicked {
    transition: all 300ms ease-in-out;
    top: 0;
  }
}
