.dt-buttons {
  display: none;
}

thead {
  background-color: var(--black);
  color: white;
}

th {
  border-right: 1px solid white;
}

td:last-child,
th:last-child {
  text-align: center;
  border-right: 0px;
}

td:last-child > a > button {
  margin-right: 1rem;
}
td:last-child i {
  padding: 0.3rem;
  background-color: var(--yellow);
  color: var(--black);
}

td:last-child > button > i {
  padding: 0.3rem;
  background-color: var(--red);
  color: var(--black);
}

th {
  text-align: left !important;
}

td {
  text-align: left !important;
}

th:last-child,
td:last-child {
  text-align: center !important;
}

.main-title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
