.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.half {
  display: flex;
  gap: 1rem;
}

.input-half {
  width: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-actions {
  display: flex;
  gap: 1rem;
}

.user-actions a {
  color: var(--black);
  text-decoration: none;
}

.user-actions h3:hover {
  color: var(--yellow);
  cursor: pointer;
}

/* HISTORY DESIGN */

.history-list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.history-item {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "day content"
    "day";
  padding: 0.5rem;
}

.history-item:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.history-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

.history-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#history-status {
  background-color: var(--green);
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
