/* Header Section */
.header {
  width: 100%;
  height: 200px; /* Adjusted height */
  background: url("../assets/insbg.JPG") no-repeat center center/cover;
  display: flex;
  justify-content: flex-start; /* Align content to the start horizontally */
  align-items: center;
  color: white;
  text-align: left; /* Align text to the left */
  padding: 20px;
}

.header-content {
  width: 100%; /* Take full width of the header */
  max-width: 1200px;
  margin: auto;
}

.header-content h1 {
  font-size: 2.5rem; /* Adjust font size as needed */
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.profile-description {
  max-width: 600px;
}

.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.user-profile-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-profile-left,
.user-profile-right {
  padding: 1rem;
  border: 1px solid var(--dark-grey);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  min-width: 500px;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.half {
  display: flex;
  gap: 1rem;
}

.input-half {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input-full {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.user-details input,
select {
  padding: 0.5rem 1rem;
}

/* Change password button */
button[type="submit"] {
  margin-top: 1rem;
  float: right;
  padding: 0.5rem 1rem;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
}

/* form responsive design */
@media (max-width: 768px) {
  .user-profile-left,
  .user-profile-right {
    min-width: 200px;
  }
}
