*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
}

box-icon {
    vertical-align:middle;
    line-height:1px;
    font-size:35px;
}

.grid-container{
    overflow-y: auto;
    display:grid;
    grid-template-columns:260px 1fr 1fr 1fr;
    grid-template-rows:0.2fr 3fr;
    grid-template-areas:
    "header header header header"
    "sidebar main main main";
    height:100vh;
}

.header{
    position:sticky;
    top:0;
    padding:8px;
    grid-area: header;
    background-color: var(--black);
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

header h2{
    color:white;
}

#logout{
    background-color: var(--yellow);
    font-weight:var(--normal);
    padding:1em;
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    overflow-y:auto;
    background-color: var(--black);
    color: var(--black);
}

ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    color: var(--black);
}

.sidebar-title{
    color:white;
    font-weight:var(--bold);
    padding:20px;
}

.sidebar-list-item{
    padding:20px;
    background-color:var(--yellow);
    display: flex;
    justify-content: space-between ;
}

.booking-a:hover, .refund-a:hover{
    cursor:pointer;
}

.sidebar-list-item:hover{
    padding:20px;
    background-color:var(--dark-yellow);   
}

.mini-sidebar-list-item{
    background-color: var(--dark-yellow);
    padding:10px 10px 10px 20px;
}

.mini-sidebar-list a{
    text-decoration: none;
    color:var(--black);
}

.hidden{
    display:none;
}

.mini-sidebar-list-item:hover{
    background-color: var(--darker-yellow);
}

.main-container{
    margin-left: auto;
    margin-right:auto;
    padding:1rem;
    grid-area:main;
    display:flex;
    flex-direction: column;
    width:75rem;
    min-width:1100px;
    color: var(--black);
}

.page-title{
    font-size: 1.5rem;
    margin-bottom:1rem;
}

.quick-link{
    font-size:0.7rem;
}

.quick-link a{
    text-decoration: none;
    color: var(--dark-yellow);
}

