.bookings-statistics p,
.users-reviews p,
.analytics p {
  margin-bottom: 0.5rem;
}

hr {
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.statistics-item {
  height: 100px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.statistics-item:hover {
  transform: translateY(-5px);
}

.left-card {
  font-size: 32px;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.right-card p,
.right-card h1 {
  padding: 0;
  margin: 0;
}

.upcoming {
  background-color: var(--yellow);
}

.refunds {
  background-color: var(--red);
}

.total {
  background-color: var(--green);
}

.total-user {
  background-color: var(--yellow);
}

.total-reviews {
  background-color: var(--green);
}

.analytics {
  display: flex;
  flex-direction: column;
}

.filter-dates {
  display: flex;
  margin-bottom: 1rem;
  gap: 2px;
}

.filter-dates .filter-button {
  border-radius: 0;
  border: none;
  width: 5rem;
  padding: 0.2em;
}

.section-title {
  font-weight: var(--bold);
}

.filter-dates .filter-button:hover {
  background-color: var(--dark-grey);
}

.analytics-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "table table revenue";
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.analytics-title {
  padding: 0.3rem;
  margin: 0;
  background-color: var(--yellow);
  font-weight: var(--bold);
  display: flex;
  justify-content: space-between;
}

.title-with-filter {
  position: relative;
}

.analytics-left,
.analytics-right {
  display: flex;
  flex-direction: column;
}

.analytics-right {
  gap: 1rem;
}

.revenue {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.analytics-left {
  grid-area: table;
}

.analytics-right {
  grid-area: revenue;
}

.popular-class-table,
.total-revenue {
  height: 100%;
}

.total-revenue h2 {
  padding-left: 1rem;
}

canvas {
  border: 1px solid var(--light-grey);
}

.filterOpen {
  padding: 0 0.3rem;
}

.filters {
  position: absolute;
  background-color: white;
  padding: 1rem;
  right: 0;
  width: 200px;
}

.filters form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters > form > button {
  background-color: var(--yellow);
}
.filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#customDate {
  position: relative;
}
