.modal{
    background-color: rgba(46, 46, 46, 0.5);
    z-index: 99;
    display:flex;
    position:fixed;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
}

.hidden{
    display:none;
}

.modal-card{
    background-color: white;
    position: fixed;
}