@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

:root {
  --black: #292929;
  --yellow: #fcc707;
  --dark-yellow: #ad861d;
  --darker-yellow: #9a7511;
  --red: #dc343d;
  --green: #0f910f;
  --light-grey: #f3f3f3;
  --dark-grey: #aeb0af;
  --light: 200;
  --normal: 400;
  --bold: 700;
  --light-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.05);
  --shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
  --primary: #007bff; /* Default view for table */
  --success: #28a745; /* Default edit for table */
  --danger: #dc3545; /* Default delete for table */
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oxanium", sans-serif !important;
  font-optical-sizing: auto;
  line-height: 1.6;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--black);
  text-decoration: none;
}

/* CLASSEES FOR DIFFERENT CONDITIONS */

.hidden {
  display: none !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* END OF CLASSES FOR DIFFERENT CONDITIONS */

/* MAX WIDTH OF 1200px FOR THE MAIN CONTENT CONTAINER */

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  grid-area: main;
  width: 80rem;
  color: var(--black);
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

/* CLEARS ALL BUTTON BORDERS */
button {
  border: none !important;
}

/* CLASS FOR DYNAMICALLY ADDING SHADOWS */

.shadow {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
}

/* INPUT DESIGN */

.half {
  display: flex;
  gap: 1rem;
}

.input-half {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input-full {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

form input,
select {
  padding: 0.5rem 1rem;
}

.input-multiple-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
}

.checkbox-item {
  background-color: var(--light-grey);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.checkbox-item:hover {
  filter: brightness(0.9);
}

.checkbox-item.selected {
  background-color: var(--dark-grey);
}

textarea {
  padding: 0.5rem 1rem;
  resize: vertical;
  width: 100%;
}
