#sidebar {
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  background-color: var(--black);
  color: var(--black);
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--black);
}

.sidebar-title {
  color: white;
  font-weight: var(--bold);
  padding: 20px;
}

.sidebar-list-item {
  padding: 20px;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
}

.sidebar-list-title {
  display: flex;
  gap: 1rem;
}

.sidebar-list-item:hover {
  cursor: pointer;
  padding: 20px;
  background-color: var(--dark-yellow);
}

.mini-sidebar-list-item {
  background-color: var(--dark-yellow);
  padding: 10px 10px 10px 20px;
}

.mini-sidebar-list a {
  text-decoration: none;
  color: var(--black);
}

.mini-sidebar-list-item:hover {
  background-color: var(--darker-yellow);
}
