box-icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

/* ADMIN DASHBOARD GRID LAYOUT */

.grid-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 60px 3fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  height: 100vh;
  max-width: 100%;
}

/* PAGE HEADER TITLE */

.page-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* QUICK LINKS */

.quick-link {
  font-size: 0.7rem;
}

.quick-link a {
  text-decoration: none;
  color: var(--dark-yellow);
}

.view-profile {
  width: 100%;
}
