.dt-buttons {
  display: none;
}

.top-filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

thead {
  background-color: var(--black);
  color: white;
}

th {
  border-right: 1px solid white;
}

td:last-child,
th:last-child {
  text-align: center;
  border-right: 0px;
}

td:last-child > button:nth-child(even) {
  margin-right: 1rem;
}

td:last-child i {
  padding: 0.3rem;
  background-color: var(--yellow);
  color: var(--black);
}

td:last-child > button > i {
  padding: 0.3rem;
  background-color: var(--red);
  color: var(--black);
}

th {
  text-align: left !important;
}

td {
  text-align: left !important;
}

th:last-child,
td:last-child {
  text-align: center !important;
}

.title-with-filter {
  position: relative;
}

.filterOpen {
  padding: 0 0.3rem;
}

.filters {
  z-index: 99;
  position: absolute;
  background-color: white;
  padding: 1rem;
  right: 0;
  width: 200px;
}

.filters form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters > form > button {
  background-color: var(--yellow);
}
.filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#customDate {
  position: relative;
}
