@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ADD INSTRUCTOR BUTTON */
.add-button {
  background-color:#fff8dc;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 30px;
  color: #f0c000;
  font-family: Montserrat, sans-serif;
}

.add-button:hover {
  background-color:#fffae9;
}

.main-title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.table-container {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  margin-top: 1rem;
  overflow-x: auto;
}

th {
  text-align: left !important;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: left !important;
}

.action-button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: fit-content;
}

.data-table-button {
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.view {
  background-color: var(--primary);
}

.edit {
  background-color: var(--success);
}
.archive {
  background-color: var(--danger);
}
