/* ADD INSTRUCTOR BUTTON */
.add-button {
  background-color: var(--yellow);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.main-title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

table {
  overflow: scroll;
}

th {
  text-align: left !important;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: left !important;
}

.action-button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: fit-content;
}

.data-table-button {
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.view {
  background-color: var(--primary);
}

.edit {
  background-color: var(--success);
}
.archive {
  background-color: var(--danger);
}
